@page
@model CategoryModel
@{
    ViewData["Title"] = "Categories";
}

<label for="create-form">Добавить новую категорию</label>
<form method="post" name="create-form">
    <div class="form-group m-2">
        <label for="name">Название категории</label>
        <input type="text" class="form-control" name="name" value="@Model.Category.Name" placeholder="Введите название категории">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<table class="table m-2">
    <thead class="thead-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories) 
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <form method="post" asp-page-handler="Remove">
                        <input hidden type="text" name="id" value="@category.Id" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
